extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Bitstarter
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='#') Home
              li
                a(href='#about') About
              li
                a(href='#contact') Contact

  .container
      .row-fluid.heading
        .span12
          h1 Learnguage
      .row-fluid.subheading
        .span12
          p.lead Download langauges to your mind.
      .row-fluid.pitch
        .span5.offset1.video
          img.img-polaroid(src='http://placehold.it/480x300')
        .span5.actions
          .span8.offset2
            .statistics
              .span4
                .linediv-l
                  h3 1000
                  p backers
              .span4
                .linediv-c
                  h3 $6000
                  p of $10,000
              .span4
                .linediv-r
                  h3 10
                  p days left
          .span10.offset1
            .thermometer.progress.active
              .bar.bar-success(style='width: 60%;')
              .bar.bar-warning(style='width: 40%;')
          .span6.offset3.order
            button.btn.btn-success.btn-large Preorder
          .span8.offset2.social
            button.btn.btn-twitter
              i.icon-twitter
              | | Twitter
            button.btn.btn-facebook
              i.icon-facebook
              | | Facebook
      .row-fluid.section1
        .span5.offset1.asset
          img.img-polaroid(src='http://placehold.it/480x300')
        .span5.copy
          p
            | Learnguage will revolutionarise the way we learn languages.
            | Compromised soley of a wireless earpiece, learnguage links 
            | directly to your Language Aquistation Device (LAD), and 
            | uses DNA altering sonicwaves to teach you languages.
          p
            | All as easy as downloading an application.
          p
            | French, German and Spanish are preloaded on your Learnguage device.
            | Additional charges will be added should you want to order
            | additional devices.
      .row-fluid.section2
        .span5.offset1.copy.copy-right
          p
            | Our patented design feels comfortable to wear, and is built
            | to allow you to sleep unhindered. Countless hours have gone
            | into the perfect shape and weight to let you learn even while
            | asleep.
          p
            | Learnguage can be used anywhere. Asleep, in the car, 
            | in the morning, at the gym, or even at work.
        .span5.asset
          img.img-polaroid(src='http://placehold.it/480x300')
      .row-fluid.faq
        .span10.offset1
          h3 FAQ
          #accordion2.accordion
            .accordion-group
              .accordion-heading
                a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseOne')
                  | What does FAQ stand for?
              #collapseOne.accordion-body.collapse
                .accordion-inner
                  | Frequently Asked Question.
            .accordion-group
              .accordion-heading
                a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseTwo')
                  | What's a Frequently Asked Question?
              #collapseTwo.accordion-body.collapse
                .accordion-inner
                  | A question which is commonly asked by users.
         http://creativecommons.org/licenses/ 
      .row-fluid.footer
        .span12
          p
            | This work is licensed under
            | the
            a(href='http://creativecommons.org/licenses/by-sa/3.0/')
              | CC
              | By-SA 3.0
            | , without all the cruft that would otherwise be
            | put at the bottom of the page.
